@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
}

btn-prev{
    color: forestgreen;
}

#contato1{
    color: white;
}

.patners img{
    height: 35px;
    width: auto;
    margin: 5px 1px;
    max-height: 50%;
}

#bg1{
    background-color: rgb(238, 238, 238);
    background-size: auto;
}

.img2{
    background-image: url(../images/background-form.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center;
    max-width: 100%;
    min-width: 100%;
}

@media screen and (min-width: 701px) {
.timeline{
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: auto;
    box-sizing: border-box;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li{
    list-style: none ;
    position: relative;
    width: 50%;
    padding: 40px 80px;
}

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 90%;
    background: #8000ff;
} 

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.content{
    padding-bottom: 20px;
}

.timeline ul li h4{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(128, 0, 255, 0.726);

}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
    color: rgba(219, 0, 255, 0.726);
}

.timeline ul li:nth-child(odd) .img{
    content: '';
    position: absolute;
    top: 24px;
    right: -60px;
    width: auto;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(128, 0, 255, 0.726);
    max-width: 150px;
    max-height: 150px;
}

.timeline ul li:nth-child(even) .img{
    content: '';
    position: absolute;
    top: 24px;
    left: -60px;
    width: auto;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(128, 0, 255, 0.726);
    max-width: 150px;
    max-height: 150px;
}
}
@media screen and (max-width: 700px) {
    .timeline{
        font-family: 'Rajdhani', sans-serif;
        position: relative;
        margin: 50px auto;
        padding: 40px 0;
        width: auto;
        box-sizing: border-box;
    }
    
    .timeline ul{
        margin: 0;
        padding: 0;
    }
    
    .timeline ul li{
        list-style: none ;
        position: relative;
        width: auto;
        padding: 150px 80px;
        justify-content: center;
    }
    
    .timeline:before{
        content: '';
        position: absolute;
        left: 10%;
        width: 2px;
        height: 90%;
        background: #8000ff;
    } 
    
    .timeline ul li:nth-child(){
        float: center;
        text-align: right;
        clear: both;
    }
    
    .content{
        padding-bottom: 20px;
    }
    
    .timeline ul li h4{
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: rgba(128, 0, 255, 0.726);
    
    }
    
    .timeline ul li p{
        margin: 10px 0 0;
        padding: 0;
        color: rgba(219, 0, 255, 0.726);
    }
    
    .timeline ul li .img{
        content: '';
        position: absolute;
        top: 10px;
        left: 12%;
        width: auto;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 0 5px rgba(128, 0, 255, 0.726);
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 100%;
    padding-bottom: 25%;

    
} 

.card-img-top-serv {
    max-width: 14%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgba(27, 21, 23);
    color: rgb(150, 150, 150);
}

.wrapper-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footerText {
    color: rgb(150, 150, 150);
    font-size: 85%;
}

.carousel-text{
    text-shadow: 1px 1px 2px black;
}
.corp {
    background-color:rgb(186, 135, 216);
}
.foto-perfil {
    height: 100%;
    width:auto;
    max-width:100%;
    border-radius:50%;
}
